<!DOCTYPE html>
<html>
  <head>
    <title>AdminLanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "landing-page" %>


  <!-- Bootstrap core CSS -->
  <% stylesheet_link_tag "bootstrap.min.css" %>

  <!-- Custom fonts for this template -->
  <% stylesheet_link_tag "all.min.css" %>
  <% stylesheet_link_tag "simple-line-icons.css" %>
  <% stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" %>

  <!-- Custom styles for this template -->
  <% stylesheet_link_tag "landing-page.min.css" %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
